<ion-header>
  <ion-toolbar color="forestgreen">      
    <ion-title text-center>Cart</ion-title>       
  </ion-toolbar> 
</ion-header>

<ion-content padding class="app-background">   

  <div *ngIf="showTvSeries == true">
      <ion-badge color="forestgreen" style="font-size:1.9rem; color: #db9501;"><strong>TV Series</strong></ion-badge>
      <ion-list *ngFor="let get of cartlist; let i = index">
        <ion-card class="curves">
        <ion-item-sliding>
          <ion-item>
            <ion-thumbnail item-start>
              <img class="curves" src={{base_url}}{{poster_sizes}}{{get.poster_path}} ngDefaultControl> 
            </ion-thumbnail>
            <p style="color:#021C1E;"><strong>{{get.title}}</strong></p>  
            <p style="color:#021C1E;"><strong>Season {{get.season_number + 1}}</strong></p> 
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="strawberry" (click)="onDelete(get)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
      </ion-item-sliding>
      </ion-card>
      </ion-list> 
  </div>
  <hr>
  <div *ngIf="showMovies == true">
    <ion-badge color="forestgreen" style="font-size:1.9rem; color: #db9501;"><strong>Movies</strong></ion-badge>
    <ion-list *ngFor="let get of moviecartlist">
      <ion-card class="curves">
      <ion-item-sliding>
        <ion-item>
          <ion-thumbnail item-start>
            <img class="curves" src={{base_url}}{{poster_sizes}}{{get.poster_path}} ngDefaultControl> 
          </ion-thumbnail>
          <p style="color:#021C1E;"><strong>{{get.title}}</strong></p> 
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="strawberry" (click)="onDeleteMovie(get)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    </ion-list>
</div>

<!--PICK RETAILER-->
<!--
<ion-item>
  <ion-label>Retailer</ion-label>
  <ion-select 
      style="font-size: 1.4rem" 
      color="strawberry" 
      [(ngModel)]="retailer">                                                
      <ion-option 
      *ngFor="let item of retailers"
      okText="Okay" cancelText="Dismiss"
      (ionSelect)="onSelect(item)">
      {{item.userName}} 
      </ion-option>                                               
  </ion-select>
</ion-item> 
-->

<ion-fab left top edge>
    <button ion-fab mini color="forestgreen" (click)="onClose()"><ion-icon name="md-close"></ion-icon></button>
</ion-fab>
<ion-fab left bottom>
    <button ion-fab mini color="overcast" (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
</ion-fab>
</ion-content>
