<ion-header #head>
  <ion-navbar color="forestgreen" hideBackButton>
    <button ion-button show menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    
     <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" (search)="getItems()" placeholder="Search Tv Shows"></ion-searchbar>  
      </ion-toolbar>  
      <ion-buttons end>
      <button clear (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>  
</ion-header>

<ion-content no-padding hideheader [header]="head"> 

  <ion-toolbar color="forestgreen" [(ngModel)]="listmovies">
      <ion-segment color="blueblack" style="font-size:1.3rem" no-border-bottom>
        <ion-segment-button value="popular">
          Popular
        </ion-segment-button>
        <ion-segment-button value="toprated">
          Top Rated
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
  
  <div [ngSwitch]="listmovies">
    <div *ngSwitchCase="'popular'">
      <ion-list *ngFor="let get of popularTvShows">
        <ion-card (click)="seasonsModal(get)">
          <ion-row>
            <ion-col col-5>
              <img [(ngModel)]="tmdbConfigImages" src={{tmdbConfigImages.base_url}}{{tmdbConfigImages.poster_sizes[6]}}{{get.poster_path}} ngDefaultControl>
            </ion-col>
            <ion-col col-7>
              <p style="font-size:1.2rem; color: #db9501;"><strong>Premier: {{get.first_air_date}}</strong></p>
              <p color="forestgreen" style="font-size:1.2rem; color: #db9501;"><strong>Popularity: {{get.popularity}}</strong></p>
            </ion-col>
          </ion-row>
          
          <ion-card-content>
            <ion-card-title>
              <p style="color:#021C1E;"><strong>{{get.name}}</strong></p>
              <hr>              
            </ion-card-title>
            <p style="font-size:1rem; color: #db9501;"><strong>{{get.overview}}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
    

    <div *ngSwitchCase="'toprated'">
      <ion-list *ngFor="let get of topratedTvShows">
        <ion-card (click)="seasonsModal(get)">
          <ion-row>
            <ion-col col-5>
              <img [(ngModel)]="tmdbConfigImages" src={{tmdbConfigImages.base_url}}{{tmdbConfigImages.poster_sizes[6]}}{{get.poster_path}} ngDefaultControl>
            </ion-col>
            <ion-col col-7>
              <p style="font-size:1.2rem; color: #db9501;"><strong>Premier:{{get.first_air_date}}</strong></p>
              <ion-badge color="forestgreen" style="font-size:1.9rem; color: #db9501;"><strong>{{get.vote_average}}</strong></ion-badge>
            </ion-col>
          </ion-row>
          
          <ion-card-content>
            <ion-card-title>
              <p style="color:#021C1E;"><strong>{{get.name}}</strong></p>
              <hr>              
            </ion-card-title>
            <p style="font-size:1rem; color: #db9501;"><strong>{{get.overview}}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
      <button ion-fab mini color="forestgreen" (click)="scrollToTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
</ion-content> 
