<ion-header #head>
  <ion-navbar color="forestgreen" hideBackButton>
    <button ion-button show menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    
     <ion-toolbar>
        <ion-searchbar color="seaweed" [(ngModel)]="searchTerm" (search)="getItems()" placeholder="Search Tv Shows"></ion-searchbar> 
      </ion-toolbar>  
      <ion-buttons end>

      <!--
      <button clear (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
      -->
      <ion-buttons end >    
          <button ion-button (click)="openCart()">
            <ion-icon name="md-cart"></ion-icon>
          </button>       
      </ion-buttons>        

    </ion-buttons>
  </ion-navbar> 
  
  <ion-toolbar color="forestgreen" [(ngModel)]="listmovies">
      <ion-segment color="blueblack" style="font-size:1.3rem" no-border-bottom>
        <ion-segment-button value="popular">
          Popular
        </ion-segment-button>
        <ion-segment-button value="toprated">
          Top Rated
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding hideheader [header]="head" class="app-background"> 


  
  <div [ngSwitch]="listmovies">
    <div *ngSwitchCase="'popular'">
      <ion-list *ngFor="let get of popularTvShows">
        <ion-card (click)="seasonsModal(get)" class="curves">
          <ion-row>
            <ion-col col-5>
              <img class="curves" [(ngModel)]="tmdbConfigImages" src={{tmdbConfigImages.base_url}}{{tmdbConfigImages.poster_sizes[6]}}{{get.poster_path}} ngDefaultControl>
            </ion-col>
            <ion-col col-7>
              <p style="font-size:1.2rem; color: #2E4600;"><strong>Premier: {{get.first_air_date}}</strong></p>
              <p color="forestgreen" style="font-size:1.2rem; color: #2E4600;"><strong>Popularity: {{get.popularity}}</strong></p>
            </ion-col>
          </ion-row>
          
          <ion-card-content>
            <ion-card-title>
              <p style="color:#2E4600;"><strong>{{get.name}}</strong></p>
              <hr>              
            </ion-card-title>
            <p style="font-size:1rem; color: #000000;"><strong>{{get.overview}}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>    

    <div *ngSwitchCase="'toprated'">
      <ion-list *ngFor="let get of topratedTvShows">
        <ion-card (click)="seasonsModal(get)" class="curves">
          <ion-row>
            <ion-col col-5>
              <img class="curves" [(ngModel)]="tmdbConfigImages" src={{tmdbConfigImages.base_url}}{{tmdbConfigImages.poster_sizes[6]}}{{get.poster_path}} ngDefaultControl>
            </ion-col>
            <ion-col col-7>
              <p style="font-size:1.2rem; color: #2E4600;"><strong>Premier:{{get.first_air_date}}</strong></p>
              <ion-badge color="forestgreen" style="font-size:1.9rem; color: #db9501;"><strong>{{get.vote_average}}</strong></ion-badge>
            </ion-col>
          </ion-row>
          
          <ion-card-content>
            <ion-card-title>
              <p style="color:#2E4600;"><strong>{{get.name}}</strong></p>
              <hr>              
            </ion-card-title>
            <p style="font-size:1rem; color: #000000;"><strong>{{get.overview}}</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
  <ion-fab right bottom>
      <button ion-fab mini color="forestgreen" (click)="scrollToTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
  -->
  <ion-fab center bottom>
    <button (click)="scrollToTop()" class="footer title-bar" ion-fab color="fadednavy">
      <ion-icon name="arrow-dropup"></ion-icon>
      <!--<div class="label">To Top</div>-->
    </button>      
      <!--
      <button class="footer title-bar" ion-fab color="blueblack">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="right">
        <button (click)="scrollToTop()" class="footer title-bar" ion-fab color="fadednavy">
          <ion-icon name="arrow-dropup"></ion-icon>
          <div class="label">To Top</div>
        </button>
      </ion-fab-list>
      <ion-fab-list side="left">   
        <button (click)="logout()" class="footer title-bar" ion-fab color="fadednavy">
          <ion-icon name="md-log-out"></ion-icon>
          <div class="label">Logout</div>
        </button>
       </ion-fab-list>     
       --> 
    </ion-fab> 
</ion-content> 
